@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;600&display=swap");

* {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.app {
  background-color: #fafafa;
}

.app__posts {
  background: #9493933d;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {
  margin-left: 20px;
}

.app__header {
  background-image: linear-gradient(
    to right,
    #f58529,
    #f96b3d,
    #f75252,
    #ee3a66,
    #dd2a7b
  );
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 15px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
}

.app__signUp {
  display: flex;
  flex-direction: column;
}
