.footer {
  background-image: linear-gradient(
    to right,
    #f58529,
    #f79c38,
    #f9b24a,
    #fcc660,
    #feda77
  );
  color: black;
}

.footer__title {
  text-align: center;
  padding: 10px;
}
