.post {
  background-image: linear-gradient(
    to right,
    #f58529,
    #f96b3d,
    #f75252,
    #ee3a66,
    #dd2a7b
  );

  max-width: 400px;
  border: 1px solid lightgray;
  margin-bottom: 45px;
  border-radius: 15px;

  box-shadow: -5px 3px 8px 2px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: -5px 3px 8px 2px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: -5px 3px 8px 2px rgba(0, 0, 0, 0.72);
}

.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__iconslcs {
  margin: 10px;
  display: flex;
}

.post__icon {
  padding: 5px;
}

.post__text {
  font-weight: 700;
  padding: 20px;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.post__avatar {
  margin-right: 10px;
}

.post__commentBox {
  display: flex;
  margin-top: 10px;
}

.post__comments {
  padding: 15px;
}

.post__input {
  margin: 10px;
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.post__button {
  margin: 10px;
  flex: 0;
  border: none;
  border-top: 1px solid lightgray;
  color: #6082a3;
  border-top: 1px solid lightgray;
}
